body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

#FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    flex-direction: row;
}

.ul {
    text-align: end;
    padding-right: 150px;
}

#intro {
    width: 200px;
    text-align: start;
    padding-left: 100px;
    padding-top: 100px;
}

#FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
    margin: 80px;
}

#FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    flex-direction: row;
}

#w3-content {
    width: 55%;
    height: 120px;
    -left: 700px;
    position: absolute;
    float: left;
}